tags
rsc
gen/api15gen/api15gen
gen/praxisgen/praxisgen
*.coverprofile
Godeps/_workspace/src/github.com/jessevdk/go-flags/
Godeps/_workspace/src/github.com/rlmcpherson/s3gof3r/
Godeps/_workspace/src/golang.org/x/tools/
