{
  "swagger": "2.0",
  "info": {
    "title": "RightScale Policy API",
    "description": "[RightScale Policies](https://docs.rightscale.com/policies) allow you to automate governance across your multi-cloud environment to increase agility and efficiency while managing risk for your organization. The Policies API allows you to manage policies on a per-project basis. The API exposes four resources which are described below: PolicyTemplate, AppliedPolicy, Incident, and PublishedTemplate.\n\nThe API is available at the following endpoints:\n* https://governance-3.rightscale.com/api/governance\n* https://governance-4.rightscale.com/api/governance\n* https://governance-10.rightscale.com/api/governance\n\nEach project (aka account) exists at only one of the endpoints above.The HTTP response for requests made to an endpoint\nthat does not contain the corresponding project uses status code 302 and returns a \"Location\" header that contains the correct URL\n\nThe [OpenAPI specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) (version 2)\nfor this API is available [here](http://reference.rightscale.com/governance-policies/governance/front_service/master/swagger.json).\n\n## PolicyTemplate\n\nThe [PolicyTemplate](http://docs.rightscale.com/policies/#basic-concepts-policy-template-) resource is a policy definition\nconsisting of [policy template language](https://docs.rightscale.com/policies/reference/policy_template_language.html) source code.\nThe language is an infrastructure-as-code style language designed to make it easy to poll arbitrary cloud resources and\ninitiate actions based on the resulting data.\n\n## AppliedPolicy\n\nThe [AppliedPolicy](http://docs.rightscale.com/policies/#basic-concepts-applied-policy) resource is a running policy\nthat has been created from a policy template. An applied policy runs continuously (per frequency) until deleted.\nA single policy template can be used with various input parameters to create multiple applied policies.\n\n## Incident\n\nThe [Incident](http://docs.rightscale.com/policies/#basic-concepts-incident) resource is created when a condition\nof an applied policy is violated. If the policy validations all pass successfully then any associated existing incident is\nautomatically marked as resolved. An incident contains all of the information about the policy violation that triggered it\nas well as the current handling status ('triggered', 'resolved', 'terminated).\n\n## PublishedTemplate\n\nThe PublishedTemplate resource is a PolicyTemplate which has been made available across all projects in your organization.\nThese include both templates you've published as well as built-in RightScale templates.\n\n## Auth\n\nRequests made to the API must be authenticated using a token obtained from the [Cloud Management API](http://docs.rightscale.com/api/general_usage.html#authentication).\nAn \"Api-Version\" header must also be set; the current version is \"1.0\".\n\nThe API actions below list privileges (aka security scopes) required to access that particular action. Privileges are granted by\nroles in the [user governance application](http://docs.rightscale.com/cm/ref/user_roles.html).\n\nThe following roles are unique to the Policies API. Except for policy_publisher, all roles can be granted for a single project or for an organization.\nPrivileges granted for a user at the organization level gives the permission to all projects within that organization.\n* policy_publisher - able to publish/unpublish policy templates. This role can only be granted at an organization level.\n* policy_viewer - able to view policy templates, applied policies, and incidents.\n* policy_manager - able to create and delete applied policies; able to view all resources.\n* policy_designer - able to upload/update and delete policy templates; able to create and delete applied policies; able to view all resources.\n\nFor more detailed information on roles, see [policy access control](http://docs.rightscale.com/policies/#access-control).\n\n",
    "version": ""
  },
  "host": "governance-3.rightscale.com",
  "basePath": "/api/governance",
  "paths": {
    "/orgs/{org_id}/published_templates": {
      "get": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Index published templates",
        "description": "Index retrieves the list of published templates in an organization.\n\nRequired security scopes:\n  * `governance:published_template:index`",
        "operationId": "PublishedTemplate#index",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render published templates",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended"
            ]
          },
          {
            "name": "show_hidden",
            "in": "query",
            "description": "show_hidden will show templates that have been hidden if set to true.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexForbiddenResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateIndexBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Creates a published template",
        "description": "Create creates an organization-scoped published template from a project-scoped policy template.\n\nRequired security scopes:\n  * `governance:published_template:create`",
        "operationId": "PublishedTemplate#create",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateRequestBody",
              "required": [
                "template_href"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CreateResponseBody",
              "required": [
                "location"
              ]
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateNotFoundResponseBody"
            }
          },
          "409": {
            "description": "Conflict response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateConflictResponseBody"
            },
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateCreateBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/orgs/{org_id}/published_templates/{template_id}": {
      "get": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Show a published template",
        "description": "Show retrieves the details of a published template.\n\nRequired security scopes:\n  * `governance:published_template:show`",
        "operationId": "PublishedTemplate#show",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render published template",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended",
              "source"
            ]
          },
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a published template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateShowBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "put": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Update a published template",
        "description": "Update updates a published template in place for an organization, by replacing it. Any existing applied policies using the template will not be updated; they must be deleted and recreated again.\n\nRequired security scopes:\n  * `governance:published_template:update`",
        "operationId": "PublishedTemplate#update",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a published template by ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateRequestBody",
              "required": [
                "template_href"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUpdateBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "delete": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Delete a published template",
        "description": "Delete deletes a published template from an organization. Deleting a published template will not delete any applied policies created from the template, they must be stopped explicitly.\n\nRequired security scopes:\n  * `governance:published_template:delete`",
        "operationId": "PublishedTemplate#delete",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a published template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateDeleteBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/orgs/{org_id}/published_templates/{template_id}/hide": {
      "post": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Hide a published template",
        "description": "Hide hides a RightScale built-in template from an organization.\n\nRequired security scopes:\n  * `governance:published_template:hide`",
        "operationId": "PublishedTemplate#hide",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a published template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateHideBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/orgs/{org_id}/published_templates/{template_id}/unhide": {
      "post": {
        "tags": [
          "PublishedTemplate"
        ],
        "summary": "Unhide a published template",
        "description": "Unhide unhides a RightScale built-in template from an organization.\n\nRequired security scopes:\n  * `governance:published_template:unhide`",
        "operationId": "PublishedTemplate#unhide",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "org_id identifies an organization by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a published template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PublishedTemplateUnhideBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/applied_policies": {
      "get": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Index applied policies",
        "description": "Index retrieves the list of applied policies in a project.\n\nRequired security scopes:\n  * `governance:applied_policy:index`",
        "operationId": "AppliedPolicy#index",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render applied policies",
            "required": false,
            "type": "string",
            "enum": [
              "default"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexForbiddenResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyIndexBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Create an applied policy",
        "description": "Create applies a policy template to a given project. The applied policy will continually run until deleted.\n\nRequired security scopes:\n  * `governance:applied_policy:create`",
        "operationId": "AppliedPolicy#create",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateRequestBody",
              "required": [
                "name",
                "template_href"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateForbiddenResponseBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateUnprocessableEntityResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyCreateBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/applied_policies/{policy_id}": {
      "get": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Show an applied policy",
        "description": "Show retrieves the details of an applied policy.\n\nRequired security scopes:\n  * `governance:applied_policy:show`",
        "operationId": "AppliedPolicy#show",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render applied policy",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "source"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "policy_id identifies an applied policy by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Delete an applied policy",
        "description": "Delete stops and deletes an applied policy.\n\nRequired security scopes:\n  * `governance:applied_policy:delete`",
        "operationId": "AppliedPolicy#delete",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "policy_id identifies an applied policy by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyDeleteBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/applied_policies/{policy_id}/evaluate": {
      "post": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Evaluate an applied policy",
        "description": "Evaluate executes an applied policy evaluation on demand. It does not affect the normal execution schedule.\n\nRequired security scopes:\n  * `governance:applied_policy:evaluate`",
        "operationId": "AppliedPolicy#evaluate",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "policy_id identifies an applied policy by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyEvaluateBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/applied_policies/{policy_id}/log": {
      "get": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Show the last evaluation log of an applied policy",
        "description": "ShowLog retrieves the last evaluation log of an applied policy. *The content type is \"text/markdown\"*.\n\nRequired security scopes:\n  * `governance:applied_policy:show_log`",
        "operationId": "AppliedPolicy#show_log",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "policy_id identifies an applied policy by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              },
              "Last-Modified": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowLogBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/applied_policies/{policy_id}/status": {
      "get": {
        "tags": [
          "AppliedPolicy"
        ],
        "summary": "Show the evaluation status of an applied policy",
        "description": "ShowStatus retrieves the evaluation status details of an applied policy.\n\nRequired security scopes:\n  * `governance:applied_policy:show`",
        "operationId": "AppliedPolicy#show_status",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "policy_id",
            "in": "path",
            "description": "policy_id identifies an applied policy by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/AppliedPolicyShowStatusBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/incidents": {
      "get": {
        "tags": [
          "Incident"
        ],
        "summary": "Index incidents",
        "description": "Index retrieves the list of incidents in a project.\n\nRequired security scopes:\n  * `governance:incident:index`",
        "operationId": "Incident#index",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render incidents",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexForbiddenResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/incidents/{incident_id}": {
      "get": {
        "tags": [
          "Incident"
        ],
        "summary": "Show an incident",
        "description": "Show retrieves the details of an incident.\n\nRequired security scopes:\n  * `governance:incident:show`",
        "operationId": "Incident#show",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render incident",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended",
              "source"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "incident_id",
            "in": "path",
            "description": "incident_id identifies an incident by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/IncidentShowBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/incidents/{incident_id}/escalations": {
      "get": {
        "tags": [
          "Incident"
        ],
        "summary": "Index escalations and their statuses for an incident",
        "description": "IndexEscalations retrieves the status details of all of the escalations for an incident.\n\nRequired security scopes:\n  * `governance:incident:index`",
        "operationId": "Incident#index_escalations",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "incident_id",
            "in": "path",
            "description": "incident_id identifies an incident by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexEscalationsBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/incidents/{incident_id}/resolutions": {
      "get": {
        "tags": [
          "Incident"
        ],
        "summary": "Index resolutions and their statuses for an incident",
        "description": "IndexResolutions retrieves the status details of all of the resolutions for an incident.\n\nRequired security scopes:\n  * `governance:incident:index`",
        "operationId": "Incident#index_resolutions",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "incident_id",
            "in": "path",
            "description": "incident_id identifies an incident by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsNotFoundResponseBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsUnprocessableEntityResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/IncidentIndexResolutionsBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/incidents/{incident_id}/resolve": {
      "put": {
        "tags": [
          "Incident"
        ],
        "summary": "Resolve an incident",
        "description": "Resolve resolves an incident by setting it to an inactive state, indicating that it has been addressed.\n\nRequired security scopes:\n  * `governance:incident:resolve`",
        "operationId": "Incident#resolve",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "incident_id",
            "in": "path",
            "description": "incident_id identifies an incident by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveNotFoundResponseBody"
            }
          },
          "412": {
            "description": "Precondition Failed response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolvePreconditionFailedResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/IncidentResolveBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/policy_templates": {
      "get": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Index policy templates",
        "description": "IndexPolicyTemplates retrieves the list of policy templates in a project.\n\nRequired security scopes:\n  * `governance:policy_template:index`",
        "operationId": "PolicyTemplate#index",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render policy templates",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexOKResponseBody"
            },
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified response.",
            "headers": {
              "ETag": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexForbiddenResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateIndexBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "post": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Upload a policy template",
        "description": "Upload uploads a policy template for a project, first compiling it. On failure, an array of syntax errors will be returned.\n\nRequired security scopes:\n  * `governance:policy_template:upload`",
        "operationId": "PolicyTemplate#upload",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "UploadRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadRequestBody",
              "required": [
                "filename",
                "source"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadForbiddenResponseBody"
            }
          },
          "409": {
            "description": "Conflict response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadConflictResponseBody"
            },
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadInvalidTemplateResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUploadBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/policy_templates/compile": {
      "post": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Compile a policy template",
        "description": "Compile compiles a policy template for a project. This is only to be used for checking the syntax of a policy template; the results are not stored.\n\nRequired security scopes:\n  * `governance:policy_template:compile`",
        "operationId": "PolicyTemplate#compile",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "CompileRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileRequestBody",
              "required": [
                "filename",
                "source"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileForbiddenResponseBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileInvalidTemplateResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateCompileBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    },
    "/projects/{project_id}/policy_templates/{template_id}": {
      "get": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Show a policy template",
        "description": "Show retrieves the details of a policy template.\n\nRequired security scopes:\n  * `governance:policy_template:show`",
        "operationId": "PolicyTemplate#show",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "View used to render policy template",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "extended",
              "source"
            ]
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a policy template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateShowBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "put": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Update a policy template",
        "description": "Update updates a policy template in place for a project, by replacing it. Any existing applied policies using the template will not be updated; they must be deleted and recreated again.\n\nRequired security scopes:\n  * `governance:policy_template:update`",
        "operationId": "PolicyTemplate#update",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a policy template by ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateRequestBody",
              "required": [
                "filename",
                "source"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateResponseBody"
            }
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateNotFoundResponseBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateInvalidTemplateResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateUpdateBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      },
      "delete": {
        "tags": [
          "PolicyTemplate"
        ],
        "summary": "Delete a policy template",
        "description": "Delete deletes a policy template from a project. Deleting a policy template will not delete any applied policies created from the template, they must be stopped explicitly.\n\nRequired security scopes:\n  * `governance:policy_template:delete`",
        "operationId": "PolicyTemplate#delete",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "project_id identifies a project by ID.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "template_id",
            "in": "path",
            "description": "template_id identifies a policy template by ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          },
          "400": {
            "description": "Bad Request response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteBadRequestResponseBody"
            }
          },
          "401": {
            "description": "Unauthorized response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteUnauthorizedResponseBody"
            }
          },
          "403": {
            "description": "Forbidden response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteForbiddenResponseBody"
            }
          },
          "404": {
            "description": "Not Found response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteNotFoundResponseBody"
            }
          },
          "500": {
            "description": "Internal Server Error response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteInternalErrorResponseBody"
            }
          },
          "502": {
            "description": "Bad Gateway response.",
            "schema": {
              "$ref": "#/definitions/PolicyTemplateDeleteBadGatewayResponseBody"
            }
          }
        },
        "schemes": [
          "https"
        ],
        "security": [
          {
            "GlobalSession": []
          }
        ]
      }
    }
  },
  "definitions": {
    "AppliedPolicyCreateBadGatewayResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": true
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "CreateBadGatewayResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": false,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyCreateBadRequestResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "CreateBadRequestResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": true
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyCreateForbiddenResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "CreateForbiddenResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": true
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyCreateInternalErrorResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": true
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": false
        }
      },
      "description": "CreateInternalErrorResponseBody result type (default view)",
      "example": {
        "fault": false,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyCreateRequestBody": {
      "title": "AppliedPolicyCreateRequestBody",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "description provides a human readable description for this specific application of the policy.",
          "example": "Delete unattached volumes after 24 hours in US-East."
        },
        "dry_run": {
          "type": "boolean",
          "description": "dry_run is a flag used for testing a policy so that an incident can be raised without performing an action.",
          "default": false,
          "example": false
        },
        "frequency": {
          "type": "string",
          "description": "frequency specifies the frequency with which to run policy evaluations",
          "default": "15 minutes",
          "example": "daily",
          "enum": [
            "15 minutes",
            "hourly",
            "daily",
            "weekly"
          ]
        },
        "name": {
          "type": "string",
          "description": "name provides a name for this specific application of the policy.",
          "example": "us_east_unattached_volumes"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationOptionCreateTypeRequestBody"
          },
          "description": "options list the configuration options used to parameterize the policy.",
          "example": [
            {
              "label": "Cloud Vendor",
              "name": "cloud_vendor",
              "type": "string",
              "value": "AWS"
            },
            {
              "label": "Email Addresses",
              "name": "email_list",
              "type": "list",
              "value": [
                "person1@domain.com",
                "person2@domain.com"
              ]
            }
          ]
        },
        "template_href": {
          "type": "string",
          "description": "template_href is the href of the policy template or published template that is applied.",
          "example": "/api/governance/projects/60073/policy_templates/5b06ead5e0dacc007058c784",
          "pattern": "^/api/governance/(projects/[0-9]+/policy|orgs/[0-9]+/published)_templates/[0-9a-f]+$"
        }
      },
      "example": {
        "description": "Delete unattached volumes after 24 hours in US-East.",
        "dry_run": false,
        "frequency": "daily",
        "name": "us_east_unattached_volumes",
        "options": [
          {
            "label": "Cloud Vendor",
            "name": "cloud_vendor",
            "type": "string",
            "value": "AWS"
          },
          {
            "label": "Email Addresses",
            "name": "email_list",
            "type": "list",
            "value": [
              "person1@domain.com",
              "person2@domain.com"
            ]
          }
        ],
        "template_href": "/api/governance/projects/60073/policy_templates/5b06ead5e0dacc007058c784"
      },
      "required": [
        "name",
        "template_href"
      ]
    },
    "AppliedPolicyCreateResponseBody": {
      "title": "Mediatype identifier: application/vnd.rightscale.applied_policy; view=default",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "category is the type categorization of the applied policy.",
          "example": "tags"
        },
        "created_at": {
          "type": "string",
          "description": "created_at is the applied policy creation timestamp in RFC3339 format.",
          "example": "2018-06-12T20:31:02Z",
          "format": "date-time"
        },
        "created_by": {
          "$ref": "#/definitions/UserResponseBody"
        },
        "description": {
          "type": "string",
          "description": "description provides a human readable description for this specific application of the policy.",
          "example": "Delete unattached volumes after 24 hours in US-East."
        },
        "doc_link": {
          "type": "string",
          "description": "doc_link is a HTTP URI to a page containing detailed documentation for the policy.",
          "example": "https://rightscale.com",
          "format": "uri"
        },
        "dry_run": {
          "type": "boolean",
          "description": "dry_run is a flag used for testing a policy so that an incident can be raised without performing an action.",
          "example": false
        },
        "error": {
          "type": "string",
          "description": "error is the error message returned if the evaluation failed. On success this attribute is empty.",
          "example": "Message:\n  val: invalid first argument: argument must be an object, got: array\nLocation:\n  function \"logic_or\"\n    argument #1\n      function \"eq\"\n        argument #1\n          function \"val\"\n"
        },
        "errored_at": {
          "type": "string",
          "description": "errored_at is the applied policy error timestamp in RFC3339 format. On success this attribute is empty.",
          "example": "2018-06-12T20:38:02Z",
          "format": "date-time"
        },
        "frequency": {
          "type": "string",
          "description": "frequency specifies the frequency with which to run policy evaluations",
          "example": "daily",
          "enum": [
            "15 minutes",
            "hourly",
            "daily",
            "weekly"
          ]
        },
        "href": {
          "type": "string",
          "description": "href is the href of the applied policy.",
          "example": "/api/governance/projects/60073/applied_policies/abef04b3",
          "pattern": "^/api/governance/projects/[0-9]+/applied_policies/[0-9a-f]+$"
        },
        "id": {
          "type": "string",
          "description": "id identifies an applied policy by ID.",
          "example": "304272"
        },
        "info": {
          "type": "object",
          "description": "info is an arbitrary set of key/value pairs that provide additional information such as the policy author, support contact information, etc.",
          "example": {
            "author": "RightScale",
            "support": "support@rightscale.com"
          },
          "additionalProperties": true
        },
        "kind": {
          "type": "string",
          "description": "kind is \"gov#applied_policy\".",
          "example": "gov#applied_policy",
          "enum": [
            "gov#applied_policy"
          ]
        },
        "name": {
          "type": "string",
          "description": "name provides a name for this specific application of the policy.",
          "example": "us_east_unattached_volumes"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationOptionResponseBody"
          },
          "description": "options list the configuration options used to parameterize the policy.",
          "example": [
            {
              "label": "Cloud Vendor",
              "name": "cloud_vendor",
              "type": "string",
              "value": "AWS"
            },
            {
              "label": "Email Addresses",
              "name": "email_list",
              "type": "list",
              "value": [
                "person1@domain.com",
                "person2@domain.com"
              ]
            }
          ]
        },
        "policy_template": {
          "$ref": "#/definitions/PolicyTemplateResponseBodyLink"
        },
        "project": {
          "$ref": "#/definitions/ProjectResponseBody"
        },
        "published_template": {
          "$ref": "#/definitions/PublishedTemplateResponseBodyLink"
        },
        "severity": {
          "type": "string",
          "description": "severity defines the severity level of incidents raised from this applied policy.",
          "example": "low",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ]
        },
        "status": {
          "type": "string",
          "description": "status is used to identify the current status of the applied policy.",
          "example": "active",
          "enum": [
            "active",
            "error"
          ]
        },
        "updated_at": {
          "type": "string",
          "description": "updated_at is the applied policy update timestamp in RFC3339 format.",
          "example": "2018-06-12T22:31:02Z",
          "format": "date-time"
        }
      },
      "description": "CreateResponseBody result type (default view)",
      "example": {
        "category": "tags",
        "created_at": "2018-06-12T20:31:02Z",
        "created_by": {
          "email": "support@rightscale.com",
          "id": 7251,
          "name": "RightScale support"
        },
        "description": "Delete unattached volumes after 24 hours in US-East.",
        "doc_link": "https://rightscale.com",
        "dry_run": false,
        "error": "Message:\n  val: invalid first argument: argument must be an object, got: array\nLocation:\n  function \"logic_or\"\n    argument #1\n      function \"eq\"\n        argument #1\n          function \"val\"\n",
        "errored_at": "2018-06-12T20:38:02Z",
        "frequency": "daily",
        "href": "/api/governance/projects/60073/applied_policies/abef04b3",
        "id": "304272",
        "info": {
          "author": "RightScale",
          "support": "support@rightscale.com"
        },
        "kind": "gov#applied_policy",
        "name": "us_east_unattached_volumes",
        "options": [
          {
            "label": "Cloud Vendor",
            "name": "cloud_vendor",
            "type": "string",
            "value": "AWS"
          },
          {
            "label": "Email Addresses",
            "name": "email_list",
            "type": "list",
            "value": [
              "person1@domain.com",
              "person2@domain.com"
            ]
          }
        ],
        "policy_template": {
          "fingerprint": "95633be0b960b9c79ae2ab9174d6f0b03c14cbda86bc3079cefd860123029728",
          "href": "/api/governance/projects/60073/policy_templates/a88e0d89",
          "id": "324802",
          "kind": "gov#policy_template",
          "name": "unattached_volumes",
          "updated_at": "2018-06-12T20:51:02Z",
          "updated_by": {
            "email": "support@rightscale.com",
            "id": 7251,
            "name": "RightScale support"
          }
        },
        "project": {
          "id": 60073,
          "name": "RightScale Test Account",
          "org_id": 1105,
          "org_name": "RightScale QA"
        },
        "published_template": {
          "built_in": false,
          "fingerprint": "95633be0b960b9c79ae2ab9174d6f0b03c14cbda86bc3079cefd860123029728",
          "href": "/api/governance/orgs/48673/published_templates/59",
          "id": "Eligendi dolore illum distinctio.",
          "kind": "gov#published_template",
          "name": "unattached_volumes",
          "updated_at": "2018-06-12T20:51:02Z",
          "updated_by": {
            "email": "support@rightscale.com",
            "id": 7251,
            "name": "RightScale support"
          }
        },
        "severity": "low",
        "status": "active",
        "updated_at": "2018-06-12T22:31:02Z"
      },
      "required": [
        "id",
        "name",
        "href",
        "kind"
      ]
    },
    "AppliedPolicyCreateUnauthorizedResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "CreateUnauthorizedResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyCreateUnprocessableEntityResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "CreateUnprocessableEntityResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteBadGatewayResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "DeleteBadGatewayResponseBody result type (default view)",
      "example": {
        "fault": false,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": false,
        "timeout": true
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteBadRequestResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": false
        }
      },
      "description": "DeleteBadRequestResponseBody result type (default view)",
      "example": {
        "fault": false,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": false,
        "timeout": true
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteForbiddenResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": false
        }
      },
      "description": "DeleteForbiddenResponseBody result type (default view)",
      "example": {
        "fault": false,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": false,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteInternalErrorResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": true
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "DeleteInternalErrorResponseBody result type (default view)",
      "example": {
        "fault": true,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": true
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteNotFoundResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "ID is a unique identifier for this particular occurrence of the problem.",
          "example": "123abc"
        },
        "message": {
          "type": "string",
          "description": "Message is a human-readable explanation specific to this occurrence of the problem.",
          "example": "parameter 'p' must be an integer"
        },
        "name": {
          "type": "string",
          "description": "Name is the name of this class of errors.",
          "example": "bad_request"
        },
        "temporary": {
          "type": "boolean",
          "description": "Is the error temporary?",
          "example": false
        },
        "timeout": {
          "type": "boolean",
          "description": "Is the error a timeout?",
          "example": true
        }
      },
      "description": "DeleteNotFoundResponseBody result type (default view)",
      "example": {
        "fault": false,
        "id": "123abc",
        "message": "parameter 'p' must be an integer",
        "name": "bad_request",
        "temporary": true,
        "timeout": false
      },
      "required": [
        "name",
        "id",
        "message",
        "temporary",
        "timeout",
        "fault"
      ]
    },
    "AppliedPolicyDeleteUnauthorizedResponseBody": {
      "title": "Mediatype identifier: application/vnd.goa.error; view=default",
      "type": "object",
      "properties": {
        "fault": {
          "type": "boolean",
          "description": "Is the error a server-side fault?",
          "example": true
        },
        "id": {
[...]
